@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Sedgwick +Ave+Display & display=swap');
@import url('https://fonts.googleapis.com/css2?family= Shadows +Into+Light & display=swap');
@import url('https://fonts.googleapis.com/css2?family= Yeseva +One & display=swap');

:root {
    --padrao: Verdana, Geneva, Tahoma, sans-serif;
    --titulos: 'Sedgwick Ave Display', cursiva;
    --conteudo: 'Shadows Into Light', cursiva;
    --valores: 'Yeseva One', cursiva;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--padrao);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0px;
}

header h2 {
    padding-top: 10px;
    color:  yellow;
    font-size: 1.5em;
}

header p#especial {
    color: yellow;
}

header p#whats {
    color: red;
    font-size: 4vw;
    margin: auto;
}

header > p {
    padding: 10px;
    max-width: 900px;
    margin: auto;
}

section {
    padding: 20px 0px;
    text-align: center;
}

section img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

section p {
    max-width: 700px;
    display: inline-block;
    text-align: justify;
    font-family: var(--conteudo);
    font-size: 2.5vw;
    padding: 0px 10px 10px 10px;
}

section h1, h2 {
    font-family: var(--titulos);
    font-size: 4vw;
}

section h2 {
    font-family: var(--valores);
    background-color: red;
    padding: 10px;
    max-width: 15vw;
    text-align: center;
    margin: auto;
    color: white;
    text-shadow: 2px 2px black;
}

section.impar {
    background-color: white;
}

section.par {
    background-color: rgba(0, 0, 0, 0.49);
    color: white;
    text-shadow: 1px 1px black;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: red;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}